### Real Data Practice

I can't use DB2 Cloud, so I work directly with Python to edit the original csv files.

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\andru\anaconda3\lib\site-packages (1.3.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.17.3 in c:\users\andru\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\andru\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\andru\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\andru\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [6]:
import pandas as pd

In [13]:
CENSUS_DATA = pd.read_csv('ChicagoCensusData.csv')
CHICAGO_PUBLIC_SCHOOLS = pd.read_csv('ChicagoPublicSchools.csv')
CHICAGO_CRIME_DATA = pd.read_csv('ChicagoCrimeData.csv')

In [14]:
print(CENSUS_DATA.head())

   COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT_OF_HOUSING_CROWDED  \
0                    1.0         Rogers Park                         7.7
1                    2.0          West Ridge                         7.8
2                    3.0              Uptown                         3.8
3                    4.0      Lincoln Square                         3.4
4                    5.0        North Center                         0.3

   PERCENT_HOUSEHOLDS_BELOW_POVERTY  PERCENT_AGED_16__UNEMPLOYED  \
0                              23.6                          8.7
1                              17.2                          8.8
2                              24.0                          8.9
3                              10.9                          8.2
4                               7.5                          5.2

   PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA  \
0                                          18.2
1                                          20.8
2                                          11.8
3                                          13.4
4                                           4.5

   PERCENT_AGED_UNDER_18_OR_OVER_64  PER_CAPITA_INCOME  HARDSHIP_INDEX
0                              27.5              23939            39.0
1                              38.5              23040            46.0
2                              22.2              35787            20.0
3                              25.5              37524            17.0
4                              26.2              57123             6.0

In [15]:
print(CHICAGO_PUBLIC_SCHOOLS.head())

   School_ID                                     NAME_OF_SCHOOL  \
0     610038                  Abraham Lincoln Elementary School
1     610281  Adam Clayton Powell Paideia Community Academy ...
2     610185                Adlai E Stevenson Elementary School
3     609993                    Agustin Lara Elementary Academy
4     610513                      Air Force Academy High School

  Elementary, Middle, or High School         Street_Address     City State  \
0                                 ES        615 W Kemper Pl  Chicago    IL
1                                 ES  7511 S South Shore Dr  Chicago    IL
2                                 ES     8010 S Kostner Ave  Chicago    IL
3                                 ES     4619 S Wolcott Ave  Chicago    IL
4                                 HS        3630 S Wells St  Chicago    IL

   ZIP_Code    Phone_Number  \
0     60614  (773) 534-5720
1     60649  (773) 535-6650
2     60652  (773) 535-2280
3     60609  (773) 535-4389
4     60609  (773) 535-1590

                                                Link  \
0  http://schoolreports.cps.edu/SchoolProgressRep...
1  http://schoolreports.cps.edu/SchoolProgressRep...
2  http://schoolreports.cps.edu/SchoolProgressRep...
3  http://schoolreports.cps.edu/SchoolProgressRep...
4  http://schoolreports.cps.edu/SchoolProgressRep...

                      Network_Manager  ... Freshman_on_Track_Rate__  \
0        Fullerton Elementary Network  ...                      NDA
1           Skyway Elementary Network  ...                      NDA
2           Midway Elementary Network  ...                      NDA
3         Pershing Elementary Network  ...                      NDA
4  Southwest Side High School Network  ...                     91.8

  X_COORDINATE Y_COORDINATE   Latitude  Longitude COMMUNITY_AREA_NUMBER  \
0  1171699.458  1915829.428  41.924497 -87.644522                     7
1  1196129.985  1856209.466  41.760324 -87.556736                    43
2  1148427.165  1851012.215  41.747111 -87.731702                    70
3  1164504.290  1873959.199  41.809757 -87.672145                    61
4  1175177.622  1880745.126  41.828146 -87.632794                    34

  COMMUNITY_AREA_NAME  Ward Police_District                     Location
0        LINCOLN PARK    43              18  (41.92449696, -87.64452163)
1         SOUTH SHORE     7               4  (41.76032435, -87.55673627)
2             ASHBURN    13               8  (41.74711093, -87.73170248)
3            NEW CITY    20               9    (41.8097569, -87.6721446)
4       ARMOUR SQUARE    11               9  (41.82814609, -87.63279369)

[5 rows x 78 columns]

In [16]:
print(CHICAGO_CRIME_DATA.head())

         ID CASE_NUMBER        DATE                     BLOCK IUCR  \
0   3512276    HK587712  2004-08-28        047XX S KEDZIE AVE  890
1   3406613    HK456306  2004-06-26  009XX N CENTRAL PARK AVE  820
2   8002131    HT233595  2011-04-04        043XX S WABASH AVE  820
3   7903289    HT133522  2010-12-30      083XX S KINGSTON AVE  840
4  10402076    HZ138551  2016-02-02           033XX W 66TH ST  820

  PRIMARY_TYPE                    DESCRIPTION          LOCATION_DESCRIPTION  \
0        THEFT                  FROM BUILDING            SMALL RETAIL STORE
1        THEFT                 $500 AND UNDER                         OTHER
2        THEFT                 $500 AND UNDER  NURSING HOME/RETIREMENT HOME
3        THEFT  FINANCIAL ID THEFT: OVER $300                     RESIDENCE
4        THEFT                 $500 AND UNDER                         ALLEY

   ARREST  DOMESTIC  ...  DISTRICT  WARD  COMMUNITY_AREA_NUMBER  FBICODE  \
0   False     False  ...         9  14.0                   58.0        6
1   False     False  ...        11  27.0                   23.0        6
2   False     False  ...         2   3.0                   38.0        6
3   False     False  ...         4   7.0                   46.0        6
4   False     False  ...         8  15.0                   66.0        6

  X_COORDINATE  Y_COORDINATE  YEAR   LATITUDE  LONGITUDE  \
0    1155838.0     1873050.0  2004  41.807440 -87.703956
1    1152206.0     1906127.0  2004  41.898280 -87.716406
2    1177436.0     1876313.0  2011  41.815933 -87.624642
3    1194622.0     1850125.0  2010  41.743665 -87.562463
4    1155240.0     1860661.0  2016  41.773455 -87.706480

                        LOCATION
0    (41.8074405, -87.703955849)
1  (41.898279962, -87.716405505)
2  (41.815933131, -87.624642127)
3  (41.743665322, -87.562462756)
4  (41.773455295, -87.706480471)

[5 rows x 21 columns]

## Problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [19]:
Num_Crimes = len(CHICAGO_CRIME_DATA)
Num_Crimes

533

### Problem 2

##### List community areas with per capita income less than 11000

In [26]:
Poor_communities = CENSUS_DATA[CENSUS_DATA['PER_CAPITA_INCOME']<11000]
Num_PoorCommunities = len(Poor_communities)
#Poor_communities
Num_PoorCommunities

4

### Problem 3

##### List all case numbers for crimes involving minors

In [65]:
crimes_with_minor = CHICAGO_CRIME_DATA[CHICAGO_CRIME_DATA['DESCRIPTION'].str.contains('MINOR', case=False, na=False)]

print(crimes_with_minor)

          ID CASE_NUMBER        DATE                     BLOCK  IUCR  \
514  3987219    HL266884  2005-03-31          024XX N CLARK ST  2210
515  3266814    HK238408  2004-03-13  093XX S STONY ISLAND AVE  2230

             PRIMARY_TYPE                    DESCRIPTION LOCATION_DESCRIPTION  \
514  LIQUOR LAW VIOLATION  SELL/GIVE/DEL LIQUOR TO MINOR    CONVENIENCE STORE
515  LIQUOR LAW VIOLATION   ILLEGAL CONSUMPTION BY MINOR                ALLEY

     ARREST  DOMESTIC  ...  DISTRICT  WARD  COMMUNITY_AREA_NUMBER  FBICODE  \
514    True     False  ...        19  43.0                    7.0       22
515    True     False  ...         4   8.0                   48.0       22

    X_COORDINATE  Y_COORDINATE  YEAR   LATITUDE  LONGITUDE  \
514    1172680.0     1916483.0  2005  41.926269 -87.640899
515    1188539.0     1843379.0  2004  41.725301 -87.584966

                          LOCATION
514  (41.926268719, -87.640899336)
515   (41.72530099, -87.584965887)

[2 rows x 21 columns]

### Problem 4

#####  List all kidnapping crimes involving a child (children are not considered minors for the purposes of crime analysis)

In [56]:
kidnapping_crimes = CHICAGO_CRIME_DATA[CHICAGO_CRIME_DATA['PRIMARY_TYPE'] == 'KIDNAPPING']

# Print the filtered DataFrame.
print(kidnapping_crimes)

          ID CASE_NUMBER        DATE                 BLOCK  IUCR PRIMARY_TYPE  \
520  5276766    HN144152  2007-01-26  050XX W VAN BUREN ST  1792   KIDNAPPING

                  DESCRIPTION LOCATION_DESCRIPTION  ARREST  DOMESTIC  ...  \
520  CHILD ABDUCTION/STRANGER               STREET   False     False  ...

     DISTRICT  WARD  COMMUNITY_AREA_NUMBER  FBICODE X_COORDINATE  \
520        15  29.0                   25.0       20    1143050.0

     Y_COORDINATE  YEAR   LATITUDE  LONGITUDE                       LOCATION
520     1897546.0  2007  41.874908 -87.750249  (41.874908413, -87.750249307)

[1 rows x 21 columns]

### Problem 5

##### What kind of crimes were recorded at schools?

In [63]:
CHICAGO_CRIME_DATA[CHICAGO_CRIME_DATA['LOCATION_DESCRIPTION'] == "SCHOOL, PUBLIC, GROUNDS"]['PRIMARY_TYPE']

118              BATTERY
183              BATTERY
220      CRIMINAL DAMAGE
263            NARCOTICS
364              ASSAULT
471    CRIMINAL TRESPASS
Name: PRIMARY_TYPE, dtype: object

### Problem 6

#####  List the average safety score for all types of schools.

In [52]:
CHICAGO_PUBLIC_SCHOOLS['SAFETY_SCORE'].mean()

49.50487329434698

### Problem 7

##### List 5 community areas with highest % of households below poverty line.

In [28]:
Poor_communities = CENSUS_DATA.sort_values(by='PERCENT_HOUSEHOLDS_BELOW_POVERTY', ascending=False)

Poor_communities.head()

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
53,54.0,Riverdale,5.8,56.5,34.6,27.5,51.5,8201,98.0
36,37.0,Fuller Park,3.2,51.2,33.9,26.6,44.9,10432,97.0
67,68.0,Englewood,3.8,46.6,28.0,28.5,42.5,11888,94.0
28,29.0,North Lawndale,7.4,43.1,21.2,27.6,42.7,12034,87.0
26,27.0,East Garfield Park,8.2,42.4,19.6,21.3,43.2,12961,83.0

### Problem 8

##### Which community area(number) is most crime prone?

In [32]:
Criminal_areas = CHICAGO_CRIME_DATA['COMMUNITY_AREA_NUMBER'].value_counts()
Criminal_areas.idxmax()

25.0

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index.

In [36]:
Hardship_areas = CENSUS_DATA['HARDSHIP_INDEX'].value_counts()
Highest_hardship_area = Hardship_areas.idxmax()
highest_hardship_community = CENSUS_DATA[CENSUS_DATA['HARDSHIP_INDEX'] == Highest_hardship_area]['COMMUNITY_AREA_NAME']

print(highest_hardship_community)

0    Rogers Park
Name: COMMUNITY_AREA_NAME, dtype: object

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [50]:
Criminal_areas = CHICAGO_CRIME_DATA['COMMUNITY_AREA_NUMBER'].value_counts()
Highest_criminal_area = Criminal_areas.idxmax()
highest_criminal_community = CENSUS_DATA[CENSUS_DATA['COMMUNITY_AREA_NUMBER'] == Highest_criminal_area]['COMMUNITY_AREA_NAME']

print(highest_criminal_community)

24    Austin
Name: COMMUNITY_AREA_NAME, dtype: object